@import "tailwindcss";

:root {
  --background: #f6efe6;
  --foreground: #1b1b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Unbounded", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Unbounded", sans-serif;
}
